*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Allura', cursive;
}
:root{
    ---Blue:rgb(28, 28, 61);
}
body{
    background-color: var(---Blue);
}
.container{
    background:orange;
    width: 80%;
    margin: 2rem auto;
    padding: 1rem auto;
    height: 90vh;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 1rem ;
    margin: .5rem ;
    text-align: center;
}
.close-menu img{
    display: none;
}
ul li{
    list-style-type: none;
    display: inline;
    margin-left: .5rem;
}
ul li a{
    text-decoration: none;
    color:var(---Blue) ;
    text-transform: uppercase;
    font-weight: 600;
}
a:hover{
    color:white;
}
.header img{
    position: relative;
    width: 15%;
    bottom: 1.5rem;
}
.clients{
    font-size: 3rem;
    color: var(---Blue);
    margin-left: 19rem;
    text-decoration:dotted;
    text-decoration-color: var(---Blue);
    text-decoration-line: underline;
}
.why{
    display: flex;
    justify-content: space-between;
}
.why img{
    width: 40%;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 30vh;
}
.topic{
    display: flex;
    justify-content: space-between;
    color: var(---Blue);
    font-weight: 600;
    text-decoration: double;
    text-decoration-line: underline;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 1.5rem;
}
.salon{
    display: flex;
    justify-content: space-between;
    color: var(---Blue);
    margin-top: .5rem;
    font-weight: 600;
    font-size: 1.4rem;
    margin-left: 1rem;
}
.beau{
    display: none;
}
footer{
    color:var(---Blue);
    font-weight: bold;
    margin-top: .7rem;
  }
  @media(max-width: 480px) and (min-width:320px){
    ul{
        display: none;
    }
    .header{
        height: 15vh;
    }
    .logo{
        display: none;
    }
    .beau{
        font-style: italic;
        font-weight: bolder;
        color: var(---Blue);
        display: block;
    }
    .nav-wrapper{
        background:orange;
        width: 70%;
        height: 80vh;
        position: absolute;
        top: 0;
        left: 0;
        padding:1rem;
        display: none;
        opacity: .8;
    }
    .close-menu{
        display: block;
        float: right;
        width: 50%;
    }
    ul{
        margin-top: 2.5rem; 
        background: white;
        padding: 1.5rem;
        width: 80%;
        margin: 2.5rem auto 1rem auto;
        border-radius: .7rem;
    }
    ul li{
        display: block;
        margin-bottom: 2rem;
        border-bottom: .1rem solid hsl(0, 0%, 81%);
        padding-bottom: 1rem;
        cursor: pointer;
    }
     ul li:last-child{
        border-bottom: none;
    }
    ul li:first-child{
        margin-top: 2.5rem;
    }
    ul li a{
        color: var(---Blue);
    }
    a:hover{
        color:white;
    }
    .menu-icon img{
        height: 7vh;
        margin-left: 2rem;
        margin-top: 1rem;
        display: block;
        width: 15%;
    }
     footer{
        margin-top: 3rem;
     }
     .clients{
        font-size: 2rem;
        margin-left: 3rem;
     }
     .why img{
        width: 20%;
        height: 20vh;
     }
     .topic{
        font-size: 1rem;
     }
     .salon{
        font-size: .8rem;
     }
  }
