*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Allura', cursive;
    overflow-y: hidden;
}
:root{
    ---Blue:rgb(28, 28, 61);
}
body{
    background-color:var(---Blue);
}
.container{
    background:orange;
    width: 80%;
    margin: 2rem auto;
    padding: 1rem auto;
    height: 90vh;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 1rem ;
    margin: .5rem ;
    text-align: center;
}
.header img{
    position: relative;
    width: 15%;
    bottom: 2rem;
}
.header h3{
    font-size: 3rem;
    color: var(---Blue);
    margin-right: 20rem;
}
.make{
    margin-left: 2rem;
    margin-right: 2rem;
    color: var(---Blue);
    font-size: 1.5rem;
    font-weight: bolder;
    border: .5rem;
    border-color: var(---Blue);
    border-style: double;
    display: flex;
    justify-content: space-between;
    letter-spacing: .5rem;
}
.brow{
    float: right;
}
.cleanse{
    float: left;
}
.brow,.cleanse{
    margin-left: 2rem;
    margin-right: 2rem;
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: bold;
}
.nail{
    color: var(---Blue);
    margin-left: 2rem;
    font-size: 1.5rem;
    border: .5rem;
    border-color: var(---Blue);
    border-style: double; 
    text-align: center;
    margin-top: 5.5rem;
    width: 95%;
    letter-spacing: .5rem;
    font-weight: bold;
    
}
.note{
    color: var(---Blue);
    margin-left: 2rem;
    font-size: 1.3rem;
    margin-top: 4.5rem;
}
.note span{
    font-style: italic;
    font-weight: bold;
}
button{
    width: 25%;
    margin-left: 1rem;
    background-color: orange;
    color: var(---Blue);
    font-weight: 600;
    font-size: 1rem;
    height: fit-content;
    letter-spacing: .2rem;
    cursor: pointer;
}
button:hover{
    border-color: var(---Blue);
    border: 1rem;
    color: white;
}
footer{
    color: var(---Blue);
    font-weight: bold;
  }
  @media(max-width: 480px)and (min-width:320px){
    *{
        overflow-y: visible;
        overflow-x: visible;
    }
    .header img{
        width: 20%;
        bottom: 0;
        margin-left: .5rem;
        height: 10vh;
        margin-right: 2rem;
    }
    .header h3{
        font-size: 1.5rem;
        margin-left: 1rem;
    }
    .make{
        margin-left: .5rem;
        margin-right: .5rem;
        color: var(---Blue);
        font-size: .5rem;
        font-weight: bolder;
        border: .5rem;
        border-color: var(---Blue);
        border-style: double;
        display: flex;
        justify-content: space-between;
        letter-spacing: .2rem;
        margin-top: 0;
    }
    .brow,.cleanse{
        font-size: .5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .nail{
        font-size: .8rem;
        margin-top: 3rem;
        width: 95%;
        letter-spacing: .3rem;
        margin-left: .5rem ;
        margin-right: .5rem;
    }
    .note{
        font-size: 1rem;
        margin-top: 3rem;
    }
    button{
        margin-bottom: 1rem;
        width: 30%;
        margin-top: 1rem;
    }
    footer{
        margin-top: 1rem;
    }
  }
